@using System;
@using Sandbox;
@using Sandbox.UI;
@using MenuProject;
@inherits Panel
@namespace MenuProject

<root>
	<div class="members">
		<Button class="party" onmousedown="@OpenMenu" Icon="celebration" Tooltip="Party" />
		<separator class="vertical" />
		<PartyMember Friend="@(new Friend(Connection.Local.SteamId))" />
		@foreach (var member in Members.Where( x => !x.IsMe ) )
        {
			<PartyMember Friend="@member" />
		}
		@if ( Party is null || Party.MemberCount < Party.MaxMembers )
		{
			<Button class="empty-slot" onmouseup="@InviteSomeone" Tooltip="Invite a friend" Icon="add"/>
		}
    </div>
</root>

@code
{
	static PartyRoom Party => PartyRoom.Current;

	public const int MAX_MEMBERS = 8;

	public IEnumerable<Friend> Members => Party?.Members ?? Enumerable.Empty<Friend>();

	protected override int BuildHash() => System.HashCode.Combine( Party, Members.Count(), Party?.Owner );

	PartyMenu menuPopup;

	void OpenMenu()
	{
		if (menuPopup.IsValid())
		{
			menuPopup.Delete();
			return;
		}

		menuPopup = new PartyMenu();
		menuPopup.PartyDeck = this;
		menuPopup.SetPositioning(this, Popup.PositionMode.AboveLeft, 32);
	}

	public async static Task EnsureLobbyExists()
	{
		if ( PartyRoom.Current is not null )
			return;

		var party = await PartyRoom.Create( MAX_MEMBERS, $"{Connection.Local.DisplayName}'s Party", false );
		if ( party is null )
		{
			MenuOverlay.Instance?.BottomRight?.Queue( new Toast()
			{
				Title = "Failed to create party",
				Icon = "cancel",
			});
		}
	}

	async Task InviteSomeone()
	{
		await EnsureLobbyExists();
        MenuUtility.InviteOverlayToParty();
    }

	public override void Tick()
	{
		MenuUtility.SetVoiceListen(Preferences.VoiceMode != VoiceMode.Disabled && (Preferences.VoiceMode == VoiceMode.OpenMicrophone || Input.Down("voice")));
		UpdateJoinStatus();
	}

	Toast _toast;
	void UpdateJoinStatus()
	{
		var party = PartyRoom.Current;
		var shouldShow = party?.JoinState == PartyRoom.OwnerJoinState.Loading && party?.Owner is { IsMe: false };

		if (!shouldShow)
		{
			_toast?.Dismiss();
			_toast = null;
			return;
		}

		if (_toast is not null)
			return;

		var gameTitle = party?.PackageIdent ?? "unknown";

		if (Package.TryGetCached(party?.PackageIdent ?? default, out var pkg))
		{
			gameTitle = pkg.Title;
		}

		_toast = new Toast()
		{
			Title = "Party leader is joining a game",
			Message = $"Downloading {gameTitle}",
			Icon = "hourglass_top",
			ExtraClasses = "loading"
		};

		MenuOverlay.Instance?.BottomRight?.Queue(_toast, duration: 0, clickToDismiss: false);
	}

}
